@model User

@{
    ViewData["Title"] = "Sign_up";
}

<h1>@ViewData["Title"]</h1>

<hr />

@using (Html.BeginForm("Index", "Sign_up", FormMethod.Post)) // 需要指定控制器
{
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input id="UserName" asp-for="UserName" class="form-control" required />  <!-- 启用JS 不能有空格 -->
        <span id="userNameError" class="text-danger"></span> <!-- 启用JS 不能有空格 -->
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordSalt"></label>
        <input asp-for="PasswordSalt" class="form-control" />
        <span asp-validation-for="PasswordSalt"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" class="form-control" />
        <span asp-validation-for="DateOfBirth"></span>
    </div>
    <div class="form-group">
        <label asp-for="PrimaryEmail"></label>
        <input asp-for="PrimaryEmail" class="form-control" />
        <span asp-validation-for="PrimaryEmail"></span>
    </div>
    <div class="form-group">
        <label asp-for="SecondaryEmail"></label>
        <input asp-for="SecondaryEmail" class="form-control" />
        <span asp-validation-for="SecondaryEmail"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone"></span>
    </div>

    <div class="form-group">
        <label asp-for="Note"></label>
        <input asp-for="Note" class="form-control" />
        <span asp-validation-for="Note"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}

<div>
    <ul>
        <li><a href="@Url.Action("Index", "Home")">Back to Home</a></li>
    </ul>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @* 用户名不能包含空格 *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var userNameInput = document.getElementById('UserName');
            var form = document.querySelector('form');

            userNameInput.addEventListener('input', function () {
                var userName = userNameInput.value;
                var errorMessage = document.getElementById('userNameError');

                if (userName.includes(' ')) {
                    errorMessage.textContent = '用户名不能包含空格';
                    form.classList.add('was-validated');
                } else {
                    errorMessage.textContent = '';
                    form.classList.remove('was-validated');
                }
            });
        });
    </script>
}
