@model User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input id="UserName" asp-for="UserName" class="form-control" required /> <!-- 启用JS 不能有空格 -->
                <span id="userNameError" class="text-danger"></span> <!-- 错误提示 -->
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordSalt" class="control-label"></label>
                <input asp-for="PasswordSalt" class="form-control" />
                <span asp-validation-for="PasswordSalt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryEmail" class="control-label"></label>
                <input asp-for="PrimaryEmail" class="form-control" />
                <span asp-validation-for="PrimaryEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryEmail" class="control-label"></label>
                <input asp-for="SecondaryEmail" class="form-control" />
                <span asp-validation-for="SecondaryEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @* 用户名不能包含空格 *@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var userNameInput = document.getElementById('UserName');
            var form = document.querySelector('form');

            userNameInput.addEventListener('input', function () {
                var userName = userNameInput.value;
                var errorMessage = document.getElementById('userNameError');

                if (userName.includes(' ')) {
                    errorMessage.textContent = '用户名不能包含空格';
                    form.classList.add('was-validated');
                } else {
                    errorMessage.textContent = '';
                    form.classList.remove('was-validated');
                }
            });
        });
    </script>
}
